div::-webkit-scrollbar {
  width: 0;
  background-color: rgba(0,0,0,0);
}

.page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 104px);
    margin: 0 auto;
    max-width: 85%;
    padding: 0;
    transition: .6s ease;
    
    @media (min-width: 768px) {
        max-width: 70%;
    }
    
    @media (min-width: 1024px) {
        max-width: 50%;
    }
}

.page__title {
    text-align: center;
}

.resume-section {
    margin: 1.5em 0 1em 0;
    padding-bottom: 1.5em;
    border-bottom: 5px solid $gray;
}

.resume-section:last-of-type {
    border-bottom: none;
}

.resume-header {
    padding-bottom: 0.3em;
    border-bottom: 3px solid $gray;
    margin: 0;
}

.resume-section-body {
    margin-top: 1.3em;
    border-bottom: 1px solid $gray;
}

.resume-section-body:last-child {
    border-bottom: none;
}

// List Styles
.resume-section-body {


    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        line-height: 2;
    }

    li {
        list-style-type: none;
        width: 33%;
    }

    li:nth-child(3n+2) {
        text-align: center;
    }

    li:nth-child(3n+3) {
        text-align: right;
    }
}

.resume-experience-subhead {

    // border-bottom: 1px solid $gray;

    h3 {
        margin: 0;
    }

    p {
        font-size: .85em;
        margin: 0 0 1em 0;
    }
}

// projects page

.project {
    margin-bottom: 1em;
    position: relative;
    width: 100%;

    .menubar {
        background: $menubar-color;
        border-radius: 5px 5px 0 0;
        color: black;
        height: 20px;
        padding-bottom: 1.5em;
        width: 100%;
    }

    .circle {
        border-radius: 50%;
        display: inline-block;
        height: 13px;
        float: left;
        margin: 0.3em .1em;
        width: 13px;
    }

    .red {
        margin-left: 0.3em;
        background-color: $red; 
    }

    .yellow {
        background-color: $yellow; 
    }

    .green {
        background-color: $green; 
    }

    p {
        font-size: .95em;
        margin: 0;
        padding-top: .2em;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    
    img {
        border-radius: 0 0 5px 5px;
        margin: 0;
        width: 100%;
    }

    .project-overlay {
        position: absolute;
        background-color: rgba(0,0,0,.65);
        top: 0;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        border-radius: 4px;
        transition: .4s ease;
    }

    .project-overlay-text {
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;

        h2 {
            font-size: 2em;
            font-weight: 500;
        }
    }

    .project-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media (min-width: 768px) {
        width: 48%;
        float: left;
    }
}

.project:nth-child(odd) {
    @media (min-width: 768px) {
        margin-right: 4%;
    }
}

.project:hover .project-overlay {
    bottom: 0;
    height: 100%;
}

.links {
    display: flex;
    justify-content: space-between;
    margin: 0;

    a {
        font-size: 4em;
    }
}