@import '../base/_variables.scss';

.header h1 {
    text-align: center;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 1;
}

.header:after {
    height: 100px;
    background-image: linear-gradient(to bottom, transparent, black);
}

.nav {
    align-items: stretch;
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
    list-style: none;
    margin: 1em 2em;
    padding: 0;
}

.nav-button a {
    // list-style-type: none;
    border-bottom: $bottom-border solid $transparent;
    transition: border-bottom .2s ease-in-out;
}

.nav-button a.active {
    border-bottom: $bottom-border solid $gray;
}

.nav-button:hover a {
    border-bottom: $bottom-border solid $primary;
}