// COLORS

$dark-gray: #131313;
$primary: #d9eaf1;
$gray: #a7a7a7;
$transparent: rgba(0,0,0,0);
$menubar-color: #e0e0e0;
$red: #ff5f57;
$yellow: #ffbd2e;
$green: #28ca41;


// SIZES
$bottom-border: 3px;